* {
    font-family: Ubuntu, sans-serif;
}

.todo {
    margin: 30px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    min-width: 360px;
}

li {
    list-style-type: none;
}

label {
    margin-left: 5px;
    cursor: pointer;
}

.checkbox {
    cursor: pointer;
}

.todo-list {
    display: flex;
    flex-wrap: wrap;
}

.creat-list, .delete-list, .add-item {
    font-size: 16px;
    border: none;
    border-radius: 5px;
    width: 7rem;
    height: 3rem;
    background-color: #65ff51;
    transition: .3s;
    color: white;
    cursor: pointer;
}

.delete-list {
    background-color: #ff4f4f;
}

.add-item {
    background-color: #51d1ff;
}

.creat-list:hover {
    background-color: #4abd3b;
    transform: scale(1.06);
}

.delete-list:hover {
    background-color: #c63e3e;
    transform: scale(1.06);
}

.add-item:hover {
    background-color: #3c9abd;
    transform: scale(1.06);
}